.swiper-container {
  width: 100%;
  height: 100vh;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide-1 {
  background-color: silver;
  padding-top: 20px;
}
.swiper-slide-2 {
  background-color: pink;
}
.swiper-slide- {
  background-color: papayawhip;
}
h4 {
  width: 209px;
  height: 100PX;
  margin-left: 20vw;
  margin-left: 20vw;
  display: flex;
}
